/* universal */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, main, footer, section {
    display: block;
}

html {
    font-size: 16px;
    scroll-padding-top: 100px;
}

body {
    background-color: black;
    color: seashell;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    opacity: 0.9;
}

a {
    color: seashell;
    text-decoration: none;
}

h2, h4 {
    margin-bottom: 1rem;
}

/* nav */

#bigScreens {
    display: none;
}

header {
    position: fixed;
    border-bottom: seashell 0.1rem solid;
    width: 100%;
    background-color: black;
    z-index: 1;
}

#logo {
    width: 55%;
    height: 30%;
}

ul li {
    display: inline;
    text-decoration: underline;
    font-weight: bold;
    padding: 0.5rem;
}

/* main bg */

#missionSec {
    padding-top: 4.5rem;
    height: 20rem;
}

#missionSec figure img {
    width: 100%;
}

#missionSec section {
    position: relative;
    width: 100%;
    background-color: black;
    top: -10.5rem;
    padding: 0.5rem;
}

/* tea types */

#featuredTeaSec {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#featuredTeaSec img {
    width: 90%;
    height: 90%;
}

#featuredTeaSec figure {
    margin-bottom: 1rem;
}

#featuredTeaSec figcaption {
    font-weight: bold;
}

/* locations */

#locationsSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 31rem;
}

#locationsSec figure img {
    width: 100%;
    height: 42rem;
}

#thirdSubSec {
    position: relative;
    top: -41.5rem;
    width: 80%;
}

.location-sec {
    background-color: black;
    margin-bottom: 0.5rem;
}

.location-sec h4 {
    padding-top: 0.5rem;
}

.location-sec p {
    padding: 1rem;
}

/* footer */

footer {
    margin-top: 12rem;
}

h5, footer p {
    margin-bottom: 2rem;
}

#copyright {
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: bold;
}

/* media queries */

@media only screen and (min-width: 394px) {
    /* main bg */
    #missionSec section {
        top: -11.5rem;
    }
    /* tea types */
    #featuredTeaSec section {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 440px) {
    /* tea types */
    #featuredTeaSec section {
        margin-top: 5rem;
    }
    /* locations */
    #thirdSubSec {
        width: 57%;
    }
}

@media only screen and (min-width: 516px) {
    /* nav */
    #logo {
        width: 38%;
        height: 0%;
    }
    ul li {
        font-size: 1.3rem;
    }
    /* main bg */
    #missionSec section {
        margin-bottom: 0.5rem;
        top: -13.5rem;
    }
    /* tea types */
    #featuredTeaSec section {
        margin-top: 10rem;
    }
}

@media only screen and (min-width: 636px) {
    /* main bg */
    #missionSec section {
        top: -15.5rem;
    }
    /* tea types */
    #featuredTeaSec section {
        margin-top: 15rem;
    }
    #featuredTeaSec img {
        width: 40%;
    }
    /* locations */
    #thirdSubSec {
        width: 50%;
    }
}

@media only screen and (min-width: 757px) {
    /* universal */
    html {
        scroll-padding-top: 110px;
    }
    /* tea types */
    #featuredTeaSec section {
        margin-top: 20rem;
    }
    /* locations */
    #thirdSubSec {
        width: 20rem;
    }
}

@media only screen and (min-width: 877px) {
    /* universal */
    html {
        scroll-padding-top: 120px;
    }
    /* main bg */
    #missionSec section {
        top: -20.5rem;
    }
    /* tea types */
    #featuredTeaSec section {
        margin-top: 25rem;
    }
    #featuredTeaSec img {
        width: 35%;
    }
}

@media only screen and (min-width: 996px) {
    /* universal */
    html {
        scroll-padding-top: 50px;
    }
    /* nav */
    #smallScreens {
        display: none;
    }
    #bigScreens {
        display: block;
    }
    #bigScreens figure {
        width: 15%;
        float: left;
    }
    #logo {
        width: 100%;
        padding: 0.7rem 0rem 0rem 0.7rem;
    }
    #bigScreens ul {
        text-align: right;
        padding-top: 0.7rem;
    }
    /* main bg */
    #missionSec {
        padding-top: 3rem;
    }
    #missionSec section {
        top: -25.5rem;
    }
    /* tea types */
    #featuredTeaSec section {
        margin-top: 30rem;
    }
    #featuredTeaSec img {
        width: 35%;
    }
}

@media only screen and (min-width: 1135px) {
    /* main bg */
    #missionSec section {
        top: -29.5rem;
    }
    /* tea types */
    #featuredTeaSec section {
        margin-top: 35rem;
    }
}

@media only screen and (min-width: 1255px) {
    /* universal */
    html {
        scroll-padding-top: 40px;
    }
    /* nav */
    #missionSec section {
        top: -22.5rem;
    }
    #bigScreens ul {
        padding-top: 1.4rem;
    }
    /* main bg */
    #missionSec figure img {
        height: 40rem;
    }
    #missionSec section {
        top: -24.5rem;
    }
    /* tea types */
    #featuredTeaSec section {
        margin-top: 25rem;
    }
    /* locations */
    #thirdSubSec {
        width: 15rem;
    }
}