/* universal */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, main, footer, section {
    display: block;
}

html {
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h2, h4 {
    margin-bottom: 1rem;
}

/* nav */

header {
    position: fixed;
    border-bottom: seashell 0.1rem solid;
    width: 100%;
    background-color: black;
    z-index: 1;
}

#logo {
    width: 55%;
    height: 30%;
}

ul li {
    display: inline;
    text-decoration: underline;
    font-weight: bold;
    padding: 0.5rem;
}

/* main bg */

#firstSec {
    padding-top: 4.5rem;
    height: 20rem;
}

#firstSec figure img {
    width: 100%;
}

#firstSec section {
    position: relative;
    width: 100%;
    background-color: black;
    top: -10.5rem;
    padding: 0.5rem;
}

/* tea types */

#secondSec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#secondSec img {
    width: 90%;
    height: 90%;
}

#secondSec figure {
    margin-bottom: 1rem;
}

#secondSec figcaption {
    font-weight: bold;
}

/* locations */

#thirdSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 31rem;
}

#thirdSec figure img {
    width: 100%;
    height: 30rem;
}

#thirdSubSec {
    position: relative;
    top: -29.5rem;
    width: 80%;
}

.location-sec {
    background-color: black;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

/* footer */

h5, footer p {
    margin-bottom: 2rem;
}

#copyright {
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: bold;
}